/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #072f4e;
}

header {
    background-color: #072f4e;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1, h2 {
    margin-bottom: 20px;
}

section {
    padding: 50px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #072f4e;
    color: white;
}

a {
    text-decoration: none;
    color: #072f4e;
}

a:hover {
    color: #555;
}

/* Seções para cada elemento */
#carousel, #accordion, #tabs, #parallax, #cards, #progress-bar, #modals, #hover, #lightbox, #timeline, #flip-cards, #svg-animation {
    margin-top: 60px; /* Para dar espaço abaixo da navegação fixa */
}

.main-menu {
    background-color: #072f4e;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;   
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-menu>ul>li {
    position: relative;
    margin: 0 15px;
}

.main-menu a {
    color: #d8dcde;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: all 0.3 ease;
}

.main-menu>ul>li>a {
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu a:hover {
    background-color: #2898ee;
    color: #072f4e;
}

.main-menu a:active{
    background-color: #3378ad;
    color: white;
}

.main-menu a:visited {
    color: #bdc3c7;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1f547e;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.main-menu li:hover>.submenu{
    display:block;
    opacity: 1;
    transform: translateY(0);
}

.submenu li {
    width: 100%;
}

.submenu a {
    padding: 12px 20px;
    font-size: 0.9em;
}

.main-menu>ul>li>a::after {
    content: '\25BC';
    font-size: 0.7em;
    margin-left: 5px;
    transition: transform 0.3s;
}

.main-menu>ul>li:hover>a::after {
    content: '\25BC';
    font-size: 0.7em;
    margin-left: 5px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.main-menu>ul>li>a:after {
    transform: rotate(-180deg);
}

.main-menu .active>a {
    background-color: #333;
    color: #fff;
}

.nav {
   list-style-type: none;
   border-radius: 10px;
   background: #666;
   margin: 0;
   padding: 0;
   width: 300px;
   overflow: hidden;
}

.nav-item {
   font-size: 20px;
   background: #284eee;
   border-bottom: 1px solid rgba(63, 46, 73, 0.3);
}

.nav-item:last-child {
   border-bottom: none;
}

.nav-link, .nav-submenu-link {
   text-decoration: none;
   padding: 16px 20px;
   display: block;
   color: #fff;
}

.nav-submenu {
   overflow: hidden;
   max-height: 0;
   transition: max-height 0.5s;
   background: #1f547e;
}
.nav-submenu:target {
   max-height: 10rem;
}
.nav-submenu-link {
   font-size: 16px;
   background: transparent;
   transition: background 0.2s ease-in;
}
.nav-submenu-link:hover {
   background: #184163;
}

img {
  --f: .1; /* the parallax factor (the smaller the better) */
  --r: 10px; /* radius */
  
  --_f: calc(100%*var(--f)/(1 + var(--f)));
  --_a: calc(90deg*var(--f));
  width: 250px; /* the image size */
  aspect-ratio: calc(1 + var(--f));
  object-fit: cover;
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) var(--_t,rotateY(var(--_a)));
  transition: .5s;
  cursor: pointer;
}
img:hover {
  clip-path: inset(0 0 0 var(--_f) round var(--r));
  --_t: translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)))
}
