/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1, h2 {
    margin-bottom: 20px;
}

section {
    padding: 50px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #555;
}

/* Seções para cada elemento */
#carousel, #accordion, #tabs, #parallax, #cards, #progress-bar, #modals, #hover, #lightbox, #timeline, #flip-cards, #svg-animation {
    margin-top: 60px; /* Para dar espaço abaixo da navegação fixa */
}

.main-menu {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;   
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-menu>ul>li {
    position: relative;
    margin: 0 15px;
}

.main-menu a {
    color: #d8dcde;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: all 0.3 ease;
}

.main-menu>ul>li>a {
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu a:hover {
    background-color: #5886b4;
    color: #69acd8;
}

.main-menu a:active{
    background-color: #34495e;
    color: white;
}

.main-menu a:visited {
    color: #bdc3c7;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.main-menu li:hover>.submenu{
    display:block;
    opacity: 1;
    transform: translateY(0);
}

.submenu li {
    width: 100%;
}

.submenu a {
    padding: 12px 20px;
    font-size: 0.9em;
}

.main-menu>ul>li>a::after {
    content: '\25BC';
    font-size: 0.7em;
    margin-left: 5px;
    transition: transform 0.3s;
}

.main-menu>ul>li:hover>a::after {
    content: '\25BC';
    font-size: 0.7em;
    margin-left: 5px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.main-menu>ul>li>a:after {
    transform: rotate(-180deg);
}

.main-menu .active>a {
    background-color: #333;
    color: #fff;
}

#accordion1 {
    background-color: turquoise;
}

.basic-accordion {
    display: block;
    width: auto;
    margin: 10px 0;
}

.basic-accordion summary {
    display: flex;
    background-color: radial-gradient(circle, pink, blue);
    color: black;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    justify-content: flex start;
    align-items: center;
}

.basic-accordion summary::before {
    content: "+";
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    width: 20px;
    text-align: center;
}

.basic-accordion[open] summary::before {
    content: "-";
}